<!DOCTYPE html>

<html>
	<head>
		<title>IDP Frontend{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<script type="text/javascript" src="/static/jquery-3.5.0.min.js"></script>
	</head>
	<body>
		<div class="content">
			{% block body %}{% endblock %}
		</div>
		<div class="nav">
			<p class="nav-title">WEB MUSIC PLAYER</p>
			<a href="{{url_for('main')}}">Home</a><br />
			<a href="{{url_for('music_library')}}">Music Library</a><br />
			{% if 'username' in session %}
			<!-- <a href="#">My Playlists</a><br /> -->
			<a href="{{url_for('login')}}">Logout</a><br />
			{% else %}
			<a href="{{url_for('register')}}">Register</a></br />
			<a href="{{url_for('login')}}">Login</a><br />
			{% endif %}
		</div>
		{% if get_flashed_messages() %}
			<div class="flashed">
				{% with messages = get_flashed_messages() %}
					{% for message in messages %}
						{{message}}
					{% endfor %}
				{% endwith %}
			</div>
		{% endif %}
		<div class="player">
			<audio controls="controls" autoplay="autoplay"></audio>
		</div>
		
		<script type="text/javascript">
			function playSong(song){
				$.getJSON("https://api.ipify.org?format=json", 
					function(data) {  
						$('audio').attr('src', 'http://' + data.ip + ':4000/get_song/' + song);
        			})
			}
		</script>
	</body>
</html>